[project]
name = "backend"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.14"
dependencies = [
    "fastapi>=0.128.0",
    "lxml>=6.0.2",
    "python-multipart>=0.0.22",
    "uvicorn>=0.40.0",
]
