<div class="upload-container">

  <div class="mode-switcher">
    <label>
      <input 
        type="radio" 
        name="uploadMode" 
        value="zip" 
        [(ngModel)]="uploadMode"
        (ngModelChange)="onModeChange()">
      Upload de ZIP
    </label>
    <label>
      <input 
        type="radio" 
        name="uploadMode" 
        value="xmls" 
        [(ngModel)]="uploadMode"
        (ngModelChange)="onModeChange()">
      Upload de XMLs
    </label>
  </div>

  <label 
    for="fileInput" 
    class="file-label"
    [class.disabled]="isUploading">
    
    @if (uploadMode === 'zip') {
      <span>Escolher Ficheiro ZIP</span>
    } @else {
      <span>Escolher Ficheiros XML</span>
    }
  </label>
  
  <input 
    type="file" 
    id="fileInput"
    (change)="onFileSelected($event)"
    [accept]="uploadMode === 'zip' ? '.zip' : '.xml'"
    [multiple]="uploadMode === 'xmls'"
    [disabled]="isUploading" 
  />

  @if (selectedFiles && selectedFiles.length > 0) {
    <span class="file-name">
      @if (uploadMode === 'zip') {
        {{ selectedFiles[0].name }} } @else {
        {{ selectedFiles.length }} arquivos selecionados }
    </span>
  } @else {
    <span class="file-name">Nenhum ficheiro selecionado</span>
  }

  <button 
    (click)="onUpload()" 
    [disabled]="!selectedFiles || selectedFiles.length === 0 || isUploading"
    class="upload-button">
    
    @if (isUploading) {
      <span>A processar...</span>
    } @else {
      <span>Processar</span>
    }
  </button>

  @if (uploadMessage) {
    <span class="upload-message">{{ uploadMessage }}</span>
  }
</div>